@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0D0F18;
  color: #F5F5F5;
}

#app {
  width: 100vw;
  height: 100vh;
  background: #0D0F18;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#chat_container {
  flex: 1;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  scroll-behavior: smooth;
  border-radius: 12px;
  background: #161925;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

/* Estiliza la barra de desplazamiento */
#chat_container::-webkit-scrollbar {
  width: 4px;
}

#chat_container::-webkit-scrollbar-thumb {
  background: #F97316;
  border-radius: 8px;
}

.wrapper {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  transition: 0.3s;
}

.ai {
  background: #222537;
  border-left: 5px solid #F97316;
  border-radius: 12px;
  padding: 12px;
}

.chat {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 14px;
}

.profile {
  width: 37px;
  height: 37px;
  border-radius: 12px;
  background: #7E3AF2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.chat.user .profile {
  background: #F97316;
}
.chat.user {
  flex-direction: row-reverse;
}
.chat.user .message {
  width: fit-content;
  max-width: 600px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
.chat.bot .profile {
  background: #7E3AF2;
}

.ai .profile {
  background: #F97316;
}

.profile img {
  width: 72%;
  height: 72%;
  object-fit: contain;
}

.message {
  padding-top: 10px;
  /* flex: 1; */
  color: #E0E0E0;
  font-size: 1rem;
  max-width: 80%;
  overflow-x: auto;
  white-space: pre-wrap;
}

/* Input y botón estilizados */
form {
  width: 100%;
  max-width: 1300px;
  padding: 16px;
  background: #1E2133;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
}

textarea {
  width: 100%;
  color: #F5F5F5;
  font-size: 1rem;
  padding: 14px;
  background: transparent;
  border-radius: 10px;
  border: none;
  outline: none;
  resize: none;
  max-height: 300px;
  scroll-behavior: auto;
}

/* Estiliza la barra de desplazamiento */
textarea::-webkit-scrollbar {
  width: 2px;
}

textarea::-webkit-scrollbar-thumb {
  background: #F97316;
  border-radius: 4px;
}

button {
  max-height: 52px;
  background: linear-gradient(135deg, #F97316, #E65100);
  border-radius: 8px;
  padding: 10px 12px 8px 12px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

button:hover {
  background: linear-gradient(135deg, #E65100, #BF360C);
}

form img {
  width: 25px;
  height: 25px;
}

.created-link {
  color: #66d9ef;
  /* text-decoration: none; */
  /* font-weight: 600; */
  transition: all 0.2s ease-in-out;
  /* border-bottom: 2px solid transparent; */
}

.created-link:hover {
  color: #0078cd;
  /* border-bottom: 2px solid #88e1ff; */
  /* text-shadow: 0 0 8px rgba(136, 225, 255, 0.5); */
}

h1 {
  color: #7E3AF2;
  font-size: 1.5rem;
  margin: 0;
  padding-top: 16px;
  margin-bottom: 20px;
}